  <!-- Footer Bar -->
  <footer id="footer">
    <div class="footer-bar">
      <p>
        <a href="https://github.com/Cero-333"><i class="media-links fab fa-github"></i></a>
        <a href="https://medium.com/@cerensahin"><i class="media-links fab fa-medium"></i></a>
        <a href="https://www.instagram.com/_cero.s_/"><i class="media-links fab fa-instagram"></i></a>
        <a href="https://twitter.com/_ceren_sahin_"><i class="media-links fab fa-twitter"></i></a>
      </p>
      <p class="footer-msg">Ceren Şahin © 2021</p>
    </div>
  </footer>
</body>

</html>